:root {
  --bg-color: #f4f7fa;
  --text-color: #333333;
  --card-background: #ffffff;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  --hover-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

[data-theme=dark] {
  --bg-color: #1a1a1a;
  --text-color: #e0e0e0;
  --card-background: #2c2c2c;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  --hover-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

.fa-sun {
  color: white;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  line-height: 1.6;
  transition: background-color 0.3s ease, color 0.3s ease-in-out;
}

.container {
  max-width: 1200px;
  margin: auto 0;
  padding: 2rem 1rem;
}
.container header {
  text-align: center;
}
.container header h1 {
  color: #007bff;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
.container header .theme-toggle {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
}
.container header .theme-toggle button {
  background: transparent;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.container header .theme-toggle button:hover {
  scale: 1.2;
}
.container header form {
  display: flex;
  max-width: 500px;
  margin: 0 auto;
}
.container header form input {
  flex: 1;
  padding: 0.8rem 1rem;
  border-radius: 50px 0 0 50px;
  font-size: 1rem;
  border: 2px solid #007bff;
  border-right: none;
  background-color: var(--card-background);
  transition: all 0.3s ease-in-out;
}
.container header form input::-moz-placeholder {
  color: #999999;
}
.container header form input::placeholder {
  color: #999999;
}
[data-theme=dark] .container header form input {
  color: white;
}
.container header form button {
  background-color: #007bff;
  padding: 0 1.5rem;
  border-radius: 0 50px 50px 0;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.container header form button:hover {
  background-color: #0062cc;
}
.container .weather-container {
  display: none;
}
.container .weather-container.active {
  display: block;
}
.container .weather-container .weather-card {
  background-color: var(--card-background);
  box-shadow: var(--box-shadow);
  border-radius: 15px;
  padding: 2rem;
  max-width: 500px;
  margin: 4rem auto;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.container .weather-container .weather-card:hover {
  transform: translate(-5px);
  box-shadow: var(--hover-shadow);
}
.container .weather-container .weather-card .weather-header {
  margin-bottom: 1.5rem;
}
.container .weather-container .weather-card .weather-header .location-info {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}
.container .weather-container .weather-card .weather-header .location-info #location {
  font-size: 1.8rem;
  color: #007bff;
}
.container .weather-container .weather-card .weather-header .location-info .country-flag {
  width: 30px;
  height: 20px;
  overflow: hidden;
}
.container .weather-container .weather-card .weather-header .location-info .country-flag img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  -o-object-fit: cover;
     object-fit: cover;
}
.container .weather-container .weather-card .weather-header #date {
  font-size: 0.9rem;
  color: #666666;
}
.container .weather-container .weather-card .weather-header #date [data-theme=dark] {
  color: lighte(#e0e0e0, 20%);
}
.container .weather-container .weather-card .weather-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.container .weather-container .weather-card .weather-info .temperature #temperature {
  font-size: 3rem;
  font-weight: 700;
}
.container .weather-container .weather-card .weather-info .temperature p {
  color: black;
}
.container .weather-container .weather-card .weather-info .temperature p [data-theme=dark] {
  color: #666666;
}
.container .weather-container .weather-card .weather-info .weather-icon {
  text-align: center;
}
.container .weather-container .weather-card .weather-info .weather-icon img {
  width: 80px;
  height: 80px;
}
.container .weather-container .weather-card .weather-info .weather-icon p {
  color: #6c757d;
  font-weight: 600;
}
.container .weather-container .weather-card .weather-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}
.container .weather-container .weather-card .weather-details .details {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.container .weather-container .weather-card .weather-details .details i {
  color: #17a2b8;
  font-size: 1.5rem;
}
.container .weather-container .weather-card .weather-details .details div p {
  font-size: 0.8rem;
  color: #666666;
}
.container .weather-container .weather-card .weather-details .details div p [data-theme=dark] {
  color: white;
}
.container .weather-container .weather-card .weather-details .details div p:last-child {
  font-size: 1rem;
  font-weight: bold;
  color: var(--text-color);
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.container .error-message {
  background-color: rgba(220, 53, 69, 0.2);
  margin: 3rem auto;
  color: #dc3545;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  max-width: 500px;
  display: none;
  animation: fadeIn 0.3s ease;
}
.container .error-message.show {
  display: block;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.container .loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 100%;
  display: none;
}
.container .loader-container.show {
  display: block;
}
.container .loader-container .loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid rgba(0, 123, 255, 0.2);
  border-top: 5px solid #007bff;
  animation: spin 1s linear infinite;
  margin: 50px auto;
}/*# sourceMappingURL=style.css.map */